[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
"discord.py" = {extras = ["voice"], version = "*"}
youtube-dl = {ref = "master", git = "https://github.com/ytdl-org/youtube-dl.git"}
validators = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
